/* Page 1 style.css 
Home page and Statistics page
Made by: Nerijus Kmitas
Student ID x24170232*/


/* Base styling for every page */
body {
  font-family: Arial, sans-serif;
  /* font style */
  margin: 0;
  color: #333;
  /* font colour */
}

/* Header section */
.header {
  background-color: #f9c468;
  /* background colour */
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  position: relative;
  /* Required to absolutely position logo */
  flex-wrap: wrap;
}

/* Main logo position */
.header-left {
  position: absolute;
  left: 20px;
  top: 5px;
}

/* Header text position */
.header-center {
  text-align: center;
}

/* Nav bar position to move from one page to another */
.header-center h1 {
  font-size: 28px;
  margin: 0;
  color: #5a3200;
}

/* Adjust nav bar from the top */
.nav-links {
  margin-top: 10px;
}

/* Nav bar text size,colour and spacing*/
.nav-links a {
  margin: 0 8px;
  text-decoration: none;
  color: #5a3200;
  font-size: 14px;
}

/* Logo size adjustment */
.mainLogo {
  width: 90px;
}

/* Statistics page style
Made by: Nerijus Kmitas 
Student ID x24170232 */

/* Background colour */
.hunger-stats {
  background-color: #f37a1b;
  text-align: center;
}

/* Setting the table over view - text colour, spacing */
.hunger-stats table {
  width: 100%;
  font-size: 20px;
  color: black;
  margin-top: 15px;

}

/* Table settings for the text colour, borders, backgrount colour inside the table */
.hunger-stats table.table td {
  background-color: #f9c468 !important; /* Used to override Bootstrap background */
  color: black !important;
  border: 1px solid white;
}

/* Interactive slide-section part: text colour, font size, spacing arrangment  */
.slider-section {
  background-color: #f37a1b;
  padding: 30px 20px;
  text-align: center;
  color: black;
  font-size: 20px;
}

.slider-section .small {
  font-size: 0.7em;
  font-weight: normal;
}

.slider-container {
  margin-top: 20px;
}

/* Interactive slide bar settings */
input[type="range"] {
  width: 60%;
  margin: 10px;
}

#sliderText {
  font-size: 18px;
  font-weight: bold;
}

/* Style for the last part of the page "Daily action you could take- from plate to planet" */
/* Shared Section Style */
.action {
  padding: 20px 20px;
  background-color: #f37a1b;
  color: black;
  text-align: center;
}

/* Grid style used for both text and image rows */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  /* center the grid */
}

/* Style for the action cards */
.card {
  background-color: #ffe1a0;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}

/* Style for each image container */
.picture {
  background-color: #ffe1a0;
  padding: 5px 5px;
  border-radius: 8px;
}

/* Make image responsive */
.picture img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}

/* Adjustment for "All rights reserved footer" */
#footer {
  background-color: white;
  padding: 20px 0;
  font-size: 16px;
  color: #333;
}
